body {
	font-family: "Arial", "Helvetica", "sans-serif";
}

h5 {
	text-align: center;
  font-weight: bold;
}



#faq {
	text-align: center;
	background-color: #f2f2f2;
}

/* Forms */
label {
	display: block;
	float: left;
	text-align: right;
	width: 120px;
	padding-right: 10px;
}

input {
	display: block;
	border: 2px solid gray;
  border-radius: 4px;
}

input[type=text]:focus {
    border-color: #26CBDC;
}
/* End of Forms */

.col-sm-4 {
	color:#193760;
}

/* Signtheme */
#signform {
	display: flex; justify-content: center;
  background-color: #f2f2f2;
  text-align: center;
	font-weight: bold;
	padding-top: 20px;
  padding-bottom: 20px;
}

.signtheme {
	color: #193760;
	border: solid;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	border-radius: 5px;
	border-color: #26CBDC;
}
/* End of Signtheme */

#donationhone {
	display: flex; justify-content: center;
	background-color: white;
	border-top: 2px solid MidnightBlue ;
	border-bottom: 2px solid MidnightBlue ;
	color: MidnightBlue ;
}

table {
	text-align: center;
	border: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

#tabler {
  background-color: #f2f2f2;
}

#abovefaq{
	  background-color: #f2f2f2;
}

footer {
	background-color: #26CBDC;
	text-align: center;
	font-family: "Georgia", "Times New Roman", "serif";
	padding-top: 10px;
	padding-bottom: 10px;
}
